.wp-block-hmpro-text-panel .hmpro-tp__panel{
	outline: 1px dashed rgba(0,0,0,0.15);
	outline-offset: 2px;
}

.wp-block-hmpro-text-panel .hmpro-tp__title{
	cursor: text;
}

.wp-block-hmpro-text-panel .hmpro-tp__body{
	cursor: text;
}

.wp-block-hmpro-text-panel .hmpro-tp__col{
	padding: 4px;
	border-radius: 10px;
}

.wp-block-hmpro-text-panel .hmpro-tp__col:hover{
	background: rgba(0,0,0,0.03);
}
